<h1>Exercices</h1>

<h2>Kata Garros</h2>

<%= form_for :exercices, url: exercices_path do |f| %>


  <p>
    <%= f.label "test"%><br>
    <%= f.text_field :text %>
  </p>


  <p>
    <%= f.submit 'Soumettre' %>
  </p>
<% end %>
